uvicorn==0.12.3
aiofiles==0.6.0
python-multipart==0.0.5
jinja2==2.11.2
fastapi
dateparser==1.1.1
fastapi==0.78.0
slack_sdk
iso8601
timexy==0.1.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
markupsafe==2.0.1